.App-header {
  padding: 1rem;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content {
  padding: 0.5rem;
  background-color: white;
  color: black;
  h1 {
    font-size: 1.5rem;
  }
}
