@import "./index.scss";

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;

  header {
    color: $dark-text-colour;
    background-color: $dark-primary-colour;
    padding: 1rem;
    font-size: 1.5rem;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: $dark-secondary-colour;

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-right: 1rem;
      }
    }
  }

  main {
    padding: 2rem;
    color: $dark-text-colour;
    background-color: $dark-secondary-colour;
    flex-grow: 1;
  }

  button {
    font-size: 1em;
    background: none;
    border: none;
    padding: none;
    cursor: pointer;

    &.danger {
      color: $light-danger;
    }

    &.primary {
      color: $light-primary;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 40rem;
    margin: 0 auto;

    div {
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 0.5rem;
      }

      input {
        margin-bottom: 1rem;
        padding: 0.5rem;
        border: 1px solid $dark-text-colour;
        border-radius: 4px;

        &.error {
          border-color: $dark-danger;
        }
      }
    }

    button {
      margin-top: 1rem;
      padding: 0.5rem;
      border: 1px solid $dark-text-colour;
      border-radius: 4px;
      background-color: $dark-primary-colour;
      color: $dark-text-colour;
    }
  }

  @media (prefers-color-scheme: light) {
    header {
      color: $light-text-colour;
      background-color: $light-primary-colour;
    }

    main {
      color: $light-text-colour;
      background-color: $light-secondary-colour;
    }
  }
}
