:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
$dark-primary-colour: #242424;
$dark-secondary-colour: #444444;
$dark-text-colour: white;

$light-primary-colour: #d4d4d4;
$light-secondary-colour: #f4f4f4;
$light-text-colour: black;

$dark-danger: rgb(255, 78, 78);
$dark-primary: rgb(60, 226, 255);
$dark-success: rgb(57, 255, 139);

$light-danger: rgb(255, 210, 210);
$light-primary: rgb(183, 244, 255);
$light-success: rgb(183, 255, 213);
