@import "../../../index.scss";

.Transactions {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid $dark-text-colour;
    margin-bottom: 20px;
    text-align: center;

    thead {
      background-color: $dark-primary-colour;
      border-bottom: 1px solid $dark-text-colour;
    }

    th {
      padding: 0.5rem;
      text-align: center;
    }

    td {
      padding: 0.5rem;
      border-bottom: 1px solid $dark-text-colour;
    }

    @media (prefers-color-scheme: light) {
      border: 1px solid $light-primary-colour;

      thead {
        background-color: $light-primary-colour;
        border-bottom: 1px solid $light-primary-colour;
      }

      td {
        border-bottom: 1px solid $light-primary-colour;
      }

      button {
        background-color: $light-secondary-colour;
        color: $light-text-colour;
      }
    }
  }
}
